<div class="container mx-auto mt-5 w-50">
  <form (submit)='performRoll()'>
    <div class="form-group">
        <label for="diceCount">Dice count</label>
        <input type="number" class="form-control-sm" id="diceCount"placeholder="0" [(ngModel)]="diceCount" name="diceCount">
    </div>
    <div class="form-group">
      <label for="diceType">Dice type</label>
      <select class="form-control-sm" id="diceType" [(ngModel)]="diceType" name="diceType">
        <option value="4">d4</option>
        <option value="6">d6</option>
        <option value="8">d8</option>
        <option value="10">d10</option>
        <option value="20">d20</option>
        <option value="100">d100</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Roll</button>
    <div class="row mt-3"><span *ngIf="result">{{result}}</span></div>
  </form>
</div>